@import url('https://fonts.googleapis.com/css2?family=Lato:wght@400;700&display=swap');

.library{
    position: fixed;
    top: 0;
    left: 0;
    width: 20rem;
    height: 100%;
    background-color: white;
    box-shadow: 2px 2px 50px grey;
    overflow: scroll;
    transform: translateX(-100%);
    transition: all 0.5s ease;
    opacity: 0;
    h2{
        padding: 2rem;
    }
}

.library__song {
    display: flex;
    align-items: center;
    border-radius: 50px;
    transition: background 0.5s ease;
    padding: 1rem 2rem 1rem 2rem;
    cursor: pointer;
    img{
        width: 30%;
    }
    &:hover{
        background-color: khaki;
    }
    
}

.song__description{
    padding-left: 1rem;
    font-family: 'Lato', sans-serif;
    h3{
        font-size: 1rem;
    }
    h4{
        font: 0.7rem;
    }

}

*{
    scrollbar-width: thin;
    scrollbar-color: rgba(155, 155, 155, 0.5) transparent;
}

*::-webkit-scrollbar-track{
    background: transparent;
}

*::-webkit-scrollbar-thumb{
    background: rgba(155, 155, 155, 0.5);
    border-radius: 20px;
    border: transparent;
}

.selected{
    background-color: violet;
    
}

.active-library{
    transform: translateX(0%);
    opacity: 1;
}

@media screen and (max-width: 768px) {
    .library{
        width: 100%;
    }
  }