.player{
    min-height: 20vh;
    background-color: white;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
    background-color: aquamarine;
}

.time__control{
    width: 50%;
    background-color: white;
    display: flex;
    border-radius: 50px;
    input{
        width: 100%;
        padding: 1rem 0rem;
        -webkit-appearance: none;
        background: transparent;
        cursor: pointer;
        
    }
    p{
        padding: 1rem;

    
    }
}

.play__control{
    display: flex;
    justify-content: space-between;
    background-color: aquamarine;
    align-items: center;
    width: 30%;
    padding: 1rem;
    svg{
        cursor: pointer;
    }
}

input[type="rande"]:focus{
    outline: none;
}

input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    height:16px;
    width: 16px;
    background: aquamarine;
}

@media screen and (max-width: 768px) {
    .time-control {
      width: 90%;
    }
    .play-control {
      width: 80%;
    }
  }